pandas
jupyter
geopandas
shapely
numpy
scikit-learn
matplotlib
seaborn
openrouteservice
kagglehub==0.3.12
pytest==8.3.3
pyarrow
sodapy
scipy
xgboost
catboost
lightgbm
joblib
fastapi
uvicorn
pydantic
sqlalchemy
unittest
pydeck
streamlit

